An infrastructure focused software developer. I am to reduce friction for other
developers. Slow tests? Lets use on demand resources and parallelise them.
Headaches with credentials? Lets introduce a single API to manage them.
Inconsistent deliverables? Lets encode that process in a pipeline.

My other passion is sailing, and I can often be found at <a href="https://www.tisc.org.uk/">Thorney Island Sailing Club</a> at the edge of Chichester's <a href="https://goo.gl/maps/J1ttJsZJAEk">beautiful natural harbour</a>. 
